/* 
/* 
    filename: [manage.css] 
    author: [Sam Green] 
    created: [25/5/2022] 
    last modified: [25/5/2022] 
    description: [This CSS document styles a php file called manage.php] 
*/

.manage_form {
    padding: 30px;
}

.manage_form fieldset {
    border-radius: 20px;
    padding: 20px;
    border-color: #7C97BA;
}

.manage_form legend {
    color: #83CD29;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.manage_form label {
    color: #7C97BA;
}

.manage_form input {
    background-color: #253447;
    color: white;
    padding: 10px;
    outline: none;
    border: 1px solid #83CD29;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 1em;
    transition: 0.2s all;
}

.manage_form input:hover {
    background-color: #456285;
}

.manage_form hr {
    border-color: #456285;
}

.manage_form select {
    outline: none;
    background-color: #1F487E;
    border: none;
    padding: 10px 20px 10px 10px;
    font-size: .8rem;
    border-radius: 20px;
    color: white;
}