/* 
/* 
    filename: [manage.css] 
    author: [Sam Green] 
    created: [25/5/2022] 
    last modified: [25/5/2022] 
    description: [This CSS document styles a php file called manage.php] 
*/

.manage_form {
    border-radius: 20px;
    border-color: #7C97BA;
}

.manage-container {
    padding: 20px;
}

fieldset {
    border-radius: 20px;
    padding: 20px;
    border-color: #7C97BA;
}

legend {
    color: #83CD29;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.subheader {
    text-align: center;
    font-size: 30px;
    margin-bottom: 10px;
    color: white;
}

label {
    color: #7C97BA;
}

.manage_form_allattempts {
    padding: 20px;
    width: 100%;
    background-color: #1F487E;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    transition: 0.2s all;
    cursor: pointer;
}

input {
    background-color: #253447;
    color: white;
    padding: 10px 10px 10px 10px;
    outline: none;
    border: 1px solid #83CD29;
    border-radius: 20px;
    font-size: 1em;
    transition: 0.2s all;
}

input[type=submit] {
    width: 100%;
    cursor: pointer;
}

p {
    margin-bottom: 15px;
}

input:hover {
    background-color: #456285;
}