/* 
    filename: [quiz.css] 
    author: [Daniel Paolone] 
    created: [1/4/2022] 
    last modified: [7/4/2022] 
    description: [This CSS document styles a html file called quiz.html] 
*/

.quiz_form {
    padding: 30px;
}

.quiz_form fieldset {
    border-radius: 20px;
    padding: 20px;
    border-color: #7C97BA;
}

.quiz_form legend {
    color: #83CD29;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.quiz_form label {
    color: #7C97BA;
}

.quiz_form input {
    background-color: #253447;
    color: white;
    padding: 10px;
    outline: none;
    border: 1px solid #83CD29;
    border-radius: 20px;
    margin-left: 10px;
    font-size: 1em;
    transition: 0.2s all;
}

.quiz_form input:hover {
    background-color: #456285;
}

.quiz_form hr {
    border-color: #456285;
}

.quiz_form select {
    outline: none;
    background-color: #1F487E;
    border: none;
    padding: 10px 20px 10px 10px;
    font-size: .8rem;
    border-radius: 20px;
    color: white;
}

#quiz_submit {
    padding: 20px;
    width: 100%;
    background-color: #1F487E;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 30px;
    border: none;
    transition: 0.2s all;
    cursor: pointer;
}

#quiz_submit:hover {
    background-color: #253447;
}